* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

body{
    background-color: #FFFFFF;    
}

.header{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    max-width:20%;   
    margin-top:30px;
    margin-left:10%;      
}

.btn-apoia{
    margin-right:20%;
    border:none;
    border-radius:45px;
    background-color: #FDB018;
    color:#FFFFFF;    
    font-weight: bold;
    width:10rem;
    height:3rem;
}

.btn-apoia:hover{
    background-color: #F68221;
}

.navbar{    
    max-width:40%;
    height: 50px;    
    margin-left:30%;    
    background-color: #006E39;    
    border:none;
    border-radius:45px;    
}

.navbar a{
    padding:15px;
    display:inline-flex;
    justify-content: center;
    color:#ffffff; 
    font-size:16px;    
    text-decoration: none;   
}

.navbar a:hover{
    color: #F68221;        
}

.container{
    height:580px;
    color:#ffffff;
    display:flex;
    flex-direction: row;
    justify-content: space-between;        
    
        
}

.text-container, .image-container {
    flex: 1; /* Cada div ocupa 50% do espaço disponível */
}

.image-container{
    z-index: 9999; /* Garante que o before nunca fique na frente da imagem */
}

.text-container{
    background-color: #F68221;        
    text-align: center;
    max-width:50%;
}

.textos{
    font-size:24px;
    text-align: left;
}
.textos:before{
    content:"";
    background-color: #F68221;
    position:absolute;
    left:20%;
    height:20%;
    width:40%;
    border-left: 2px solid #FFFFFF;   
    animation: animate 4s steps(12) infinite; /* Animação da box "invisível */

}

@keyframes animate{
    40%, 60%{
        left: 60%;
    }
    60%{
        left:0%;
    }
}

.image-container{
    max-width: 50%;
    
}



.container h1{
    margin-top: 190px;
    margin-right:60%;
}
.container hr{
    width:50px;
    margin-left:15%;
}
.container h3{
    margin-right:70%;
    font-size:24px;
}
.bannernovo{        
    height:580px;
    
}
.about{
    
    width:40%;
    margin-left:30%;
}
.about img{
    border-radius: 30px;    
    border-style: none;
    width:120%;
    margin-top:5vh;
    margin-left:35%;

}

.p{
    font-size:16px;
    text-align: center;    
}

.sobre{    
    padding:0;
    margin-top: 0;
    position: absolute    ;
    top:150vh;    
    opacity: 0;
}

.show {
    opacity: 1;
    transition: opacity 0.3s; 

}

.sobre li{    
    width:50vh;
    height:10vh;    
    border-radius: 15px;
    border-color:#F68221;
    background-color:#F68221;
    color:#FFFFFF;
    text-shadow: 1px 1px 2px gray;    
}